
	body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 24px;
		color: #3D3D3D;
	}
	
	a {
		color: #2A8332;
		text-decoration: none;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	a:hover {
		color: #46a173;
	}
	
	p {
		margin: 0 0 10px 0;
	}
	
	h2 {
		margin: 0 0 10px 0;
	}

    .header {
        margin-top: 10px;
    }
	
	.details h2 {
		margin-top: 20px;
	}

    .tiny {
       font-size: 16px;
       line-height: 17px;
    }

	.intro {
		margin-top: 40px;
		margin-bottom: 60px;
		font-size: 28px;
		line-height: 33px;
		font-weight: bold;
		color: #8c8c8c;
	}
	
	.intro p {
		margin-bottom: 16px;
	}
	
	.intro .contact {
		font-weight: normal;
	}
	
	.introcopy a {
		font-weight: bold;
	}
	

	


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		margin-bottom: 30px;
	}
	
	.social {
		position: inherit;
		width: 100%;
	}
	
	.cc {
		display: none;
	}
	
	.ccbottom {
		display: block;
		text-align: center;
	}
	
	.ccbottom img {
		opacity: 1;
	}
	
	.intro {
		margin-top: 180px;
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 26px;
	}
	
	.details {
		padding-top: 25px;
		padding-bottom: 20px;
	}
	
	.markup {
		padding-top: 55px;
	}
	
	.fb, twitter {
		float: left;
	}
	
	.introcopy {
		clear: both;
	}
	
	.header .logo {
		margin: 0 auto;
	}


}
