
<div class="course-title">
    {{registration.course.name}} {{#user.isAdmin}} <a class="edit" href="/admin/course/{{registration.course.id}}" > :: edit</a>{{/user.isAdmin}}
</div>

<div>
{{#registration.isRegistered}}


     {{#registration.course.isEmbedVideo}}
    <video width="720"  controls>
        <source src="{{registration.course.url}}" type="video/mp4">
        Your browser does not support the video tag. Please use a modern web browser like Chrome, Safari or Firefox.
    </video>
    {{/registration.course.isEmbedVideo}}
    {{^registration.course.isEmbedVideo}}
       <a href="{{registration.course.url}}" class="bigbutton" target="_blank">Launch Course</a>
    {{/registration.course.isEmbedVideo}}

     <br />
     {{registration.course.content}}

</div>

{{/registration.isRegistered}}
{{^registration.isRegistered}}
    {{#registration.canRegister}}

    <form action="#" method="post">
        <input type="submit" class="bigbutton" value="Register For this course now!">
    </form>

    {{/registration.canRegister}}
    {{^registration.canRegister}}
       <div class="error">The class is full. Please contact your team lead to have registrations added.</div>
    {{/registration.canRegister}}


    <p class="course-desc">{{registration.course.description}}</p>
{{/registration.isRegistered}}


</div>