{{> editcourse-nav}}

<br />
<form method="post" id="searchform">
    <input class="biginput" placeholder="enter keyword" name="keyword" id="keyword" value="" />
    <input type="hidden" name="addcourseid" id="addcourseid" />
</form>

<br />

Children Courses:
<ul>
    {{#course.children}}
       {{name}}
    {{/course.children}}
</ul>
