<form action="/course/" method="post">
    Course Id:  <input name="id" value="{{course.id}}" />   <br />
    Name:  <input name="name" value="{{course.name}}" />   <br />
    Description:  <input name="description" value="{{course.description}}" />   <br />
    URL:  <input name="url" type="URI" value="{{course.contentUrl}}" />   <br />
    <input type="submit" />
</form>