<div class="course-title-mini">{{course.name}}</div> :: <a href="/admin/course/{{course.id}}">Edit</a> :: <a href="/admin/course/{{course.id}}/registrations">Registrations</a> :: <a href="/admin/course/{{course.id}}/children">Children</a> ::
<hr />