{{#wrong}}
    <div class="error">The username or password you entered didn't work :(</div>
{{/wrong}}

<div id="form">
    <form action="#" method="POST">
        <div class="input">
            <label for="username">Username:</label> <input name="username" id="username" type="text">
            <label for="password">Password:</label> <input name="password" id="password" type="text">
            <input type="submit">
        </div>
    </form>
</div>