{{#wrong}}
    <div class="error">The username or password you entered didn't work :(</div>
{{/wrong}}

<div id="form">
    <form action="#" method="POST">
        <div class="input">
            <input placeholder="Username" name="username" id="username" type="text" class="biginput" required="true" />
         </div>
         {{#showpass}}
         <div class="input">
            <input placeholder="Password" name="password" id="password" type="password" class="biginput" required="true" />
         </div>
         {{/showpass}}
         <div class="input">
            <input type="submit" class="bigbutton" value="Login">
         </div>

    </form>
</div>