
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />

    <link rel="apple-touch-icon-precomposed" href="img/appletouchicon.png"/>
</head>


<body>

<div class="container header">
    <div class="row">
        <div class="logo"><h1>{{title}}</h1></div>
    </div> <!--/row-->
</div> <!--/container-->

<div class="container intro">
    <div class="row">

        <div class="fourcol">

        </div>

        <div class="sevencol last main">
            {{{body}}}
        </div>
    </div>
</div> <!--/container-->





</body>

</html>