
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Halleck LMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <style type="text/css">
            /*
            You are allowed to do whatever you want with this layout. Though I would be pleased if you placed a link on your site to csseasy.com or to profit42.com (best "blog about hacking" ever). Donations are also welcome: paypal@profit42.com (or follow the donation button on csseasy.com)
            */

        body{
            background-color:#dc8;
            font-size:16px;
            margin:0;
            padding:0;
        }

        #header{
            background-color:#333;
            height:150px;
        }

        #top{
            width:100%;
            background-color:#dc8;
            height:50px;
        }

        #center {
            background-color:#eec;
            min-height:600px; /* for modern browsers */
            height:auto !important; /* for modern browsers */
            height:600px; /* for IE5.x and IE6 */
        }

        #footer {
            clear:both;
            background-color:#333;
            height:100px;
        }
    </style>
</head>
<body>
<div id="header">
    <h1>Halleck LMS</h1>
</div>
<div id="top">
</div>
<div id="center">
    {{{body}}}
</div>
<div id="footer">
</div>
</body>
</html>