<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/css/1140.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen"/>
    {{#javascript}}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" media="screen"/>
    {{/javascript}}

    <link rel="apple-touch-icon-precomposed" href="img/appletouchicon.png"/>
</head>


<body>

<!--[if lt IE 10]>
 <div class="badie"> This appliecation does not support IE. Please use a modern web browser like Chrome, Firefox or Safari.</div>
<![endif]-->

<div class="container header">
    <div class="row">
        <div class="logo"><h1>{{title}}</h1></div>
        <hr/>
    </div>
</div>

<div class="container intro">
    <div class="row">

        <div class="fourcol">
            {{#user.isLoggedIn}}
                <ul class="navigation" role="navigation" tabindex="-1">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/">All Courses</a></li>
                    <li><a href="/my-courses">My Courses</a></li>
                    {{#user.isAdmin}}
                        <li><a href="/admin/course">New Course</a></li>
                    {{/user.isAdmin}}
                </ul>
            {{/user.isLoggedIn}}
        </div>

        <div class="sevencol last main" role="main">
            {{{body}}}
        </div>
    </div>
</div>
<!--/container-->



</body>

</html>