<h2>Available Courses</h2>

<div class="courses">
{{#courses}}
   <div class="course-title">
    <a href="/registrations/course/{{id}}">{{name}}</a>
    </div>

    <div class="desc-short">
        {{descriptionShort}}
     </div>
{{/courses}}
</div>

